name: __Application CI

on:
  workflow_call:
    inputs:
      azure-container-registry:
        required: true
        type: string
      build-tag:
        required: true
        type: string
      build-version:
        required: true
        type: string
      environment-name:
        required: true
        type: string
      create-release:
        required: true
        type: boolean

jobs:
     
  run:
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment-name }}
    env:
      BUILD_CONFIGURATION: Release
    
    steps:
      - uses: actions/checkout@v4
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 10.0.x
      - name: Set nuget package credentials
        run: dotnet nuget update source mrisoftware --username az --password "${{ secrets.PACKAGE_FEED_TOKEN }}" --store-password-in-clear-text
      - name: Restore dependencies
        run: dotnet restore
      - name: Build
        run: dotnet build -c ${{ env.BUILD_CONFIGURATION }} --no-restore -p:Version=${{ inputs.build-version }}
      - name: Test
        run: dotnet test -c ${{ env.BUILD_CONFIGURATION }} --no-build --logger:trx --verbosity normal
      - name: Publish Test Results
        if: always()
        uses: EnricoMi/publish-unit-test-result-action@ca89ad036b5fcd524c1017287fb01b5139908408 # <- v2.11.0
        with:
          files: '**/*.trx'
      - name: Publish
        run: dotnet publish -c ${{ env.BUILD_CONFIGURATION }} --no-build
      - name: Dotnet tool restore
        run: dotnet tool restore
      - name: Create sql migration
        shell: pwsh
        run: ./tools/ci-cd/scripts/create-sql-migration-script.ps1
      - name: Create release artifacts directory
        shell: pwsh
        run: ./tools/ci-cd/scripts/create-published-artifacts-directory.ps1
        
      - name: Upload release artifacts
        if: inputs.create-release == true
        uses: actions/upload-artifact@v4
        with:
          name: release-artifacts
          path: ./out
          if-no-files-found: error
          retention-days: 10  

      - name: Azure login
        if: inputs.create-release == true
        uses: ./.github/actions/azure-login
        with:
          github-environment: ${{ inputs.environment-name }}
      - name: ACR login
        if: inputs.create-release == true
        run: az acr login -n ${{ inputs.azure-container-registry }}
      - uses: ./.github/actions/export-convention-vars
        with:
          environment-name: dev
      - name: Build and push docker images
        shell: pwsh
        run: |
          $params = @{
            ImageRegistry           = '${{ inputs.azure-container-registry }}'
            ImageRepositoryPrefix   = '${{ env.Convention_SubProducts_Api_ImageRepositoryPrefix }}'
            BuildNumber             = '${{ inputs.build-tag }}'
            PushImages              = '${{ inputs.create-release }}' -eq 'true'
          }
          ./tools/ci-cd/scripts/create-and-push-docker-images.ps1 @params 