name: Orchestrator Test Workflow

on:
  workflow_dispatch:
    inputs:
      workflowName:
        description: 'Workflow run name (format: functionInstancePrefix-instanceId)'
        required: true
        type: string

run-name: ${{ inputs.workflowName }}

jobs:
  authorize:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/validate-github-app-actor

  auto-approve:
    runs-on: ubuntu-latest
    needs: authorize
    steps:
      - name: Wait for deployment to be registered
        run: sleep 20

      - name: Auto-approve deployment
        uses: activescott/automate-environment-deployment-approval@10179fc61443cb28b95e807814d9dfce60a9e230 # <- v1.1.0
        with:
          github_token: ${{ secrets.AUTO_APPROVE_DEPLOYMENTS_TOKEN }}
          environment_allow_list: dev
          run_id_allow_list: ${{ github.run_id }}

  some-task:
    runs-on: ubuntu-latest
    needs: authorize
    environment:
      name: dev
    steps:
      - uses: actions/checkout@v4

      - name: Print Workflow details
        run: echo "Building workflow for ${{ inputs.workflowName }}"