name: Orchestrator Test Workflow

on:
  workflow_dispatch:
    inputs:
      workflowName:
        description: 'Workflow run name (format: functionappidentifier-instanceId)'
        required: true
        type: string

run-name: ${{ inputs.workflowName }}

jobs:
  github-app-authz:
    runs-on: ubuntu-latest
    outputs:
      authz-pipeline-envs: ${{ steps.authz.outputs.pipeline }}
      authz-primary-env: ${{ steps.authz.outputs.primary }}
    steps:
      - uses: actions/checkout@v4
      - id: authz
        uses: ./.github/actions/github-app-authz-envs

  dev-task:
    runs-on: ubuntu-latest
    needs: github-app-authz
    if: contains(fromJSON(needs.github-app-authz.outputs.authz-pipeline-envs), 'dev')
    environment:
      name: dev
    steps:
      - uses: actions/checkout@v4
      - run: echo "Building workflow for ${{ inputs.workflowName }} in DEV environment"

  qa-auto-approve:
    runs-on: ubuntu-latest
    needs: github-app-authz
    if: contains(fromJSON(needs.github-app-authz.outputs.authz-pipeline-envs), 'qa')
    steps:
      - name: Wait for deployment to be registered
        run: sleep 20

      - name: Auto-approve deployment
        uses: activescott/automate-environment-deployment-approval@10179fc61443cb28b95e807814d9dfce60a9e230 # <- v1.1.0
        with:
          github_token: ${{ secrets.AUTO_APPROVE_DEPLOYMENTS_TOKEN }}
          environment_allow_list: qa
          run_id_allow_list: ${{ github.run_id }}

  qa-task:
    runs-on: ubuntu-latest
    needs: github-app-authz
    if: contains(fromJSON(needs.github-app-authz.outputs.authz-pipeline-envs), 'qa')
    environment:
      name: qa
    steps:
      - uses: actions/checkout@v4
      - run: echo "Building workflow for ${{ inputs.workflowName }} in QA environment"